<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">
</head>
<body>
<div>

    <form method="POST" id="form">
    <table class="table is-striped is-narrow">
        <tr>
            <td><input  type="hidden" name="userID" value="<%= admin.id%>" /></td>
        
        
          <td><input  type="hidden" name="password" id="password" value="<%= admin.password%>" </td>

        <tr>
            <td>Old Password</td>
            <td><input type="Password" value="" name="oldPass" placeholder="Password" id="oldPassword" required minlength="6"></td>
            <td><span style="color: red" id="oldError"></span></td>
        </tr>

        <tr>
            <td>New Password</td>
            <td><input type="Password" value="" name="newPass" placeholder="New Password" id="newPassword" required minlength="6"></td>
            <td><span style="color: red" id="newError"></span></td>
        </tr>


        <tr>
            <td>Confirm Password</td>
            <td><input type="Password" value="" name="conPass" placeholder="Confirm Password" id="confirmPassword" required minlength="6"></td>
             <td><span style="color: red" id="confirmError"></span></td>
        </tr>


        <tr>
            <td colspan="2" style="float: right"><input type="button" onclick="AdminpassCheck()" value="UPDATE" ></td>
        </tr>

    </tr>

    </table>

    </form>
</div>

<a class="is-info" href="/admin/home">Back</a>

<script src="/js/AdminChangePassword.js"></script>
</body>
</html>