<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">
</head>
<body>
        <div class="columns is-centered">
            <div class="column is-4-desktop">
            <table class="table is-striped is-narrow" style="font-size: 25px">
                <tr>
                    <td style="font-weight: 800">Name</td>
                    <td><%=admin.name%></td>
                </tr>

                <tr>
                    <td style="font-weight: 800">Email</td>
                    <td><%=admin.email%></td>
                </tr>
                <tr>
                    <td style="font-weight: 800">About</td>
                    <td><%=admin.about%></td>
                </tr>

            </table>
                <a class="button is-info" href="/admin/home">Back</a>
        </div>
        </div>


</body>
</html>