<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title> Page no found</title>
	<meta name="viewport" content="width=device-width">
 <link rel="stylesheet" type="text/css" href="/css/block.css">
</head>
<body>
	<div class="error-page-wrap">
		<article class="error-page gradient">
			<hgroup>
				<h1>!</h1>
				<h2>oops! page not found</h2>
			</hgroup>
			<a href="http://localhost:8000/profile/<%= user.id %>" title="Back to site" class="error-back">back</a>
		</article>
	</div>
</body>
</html>